<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.shubhampandey.snaprecipes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.shubhampandey.snaprecipes.MyFirebasePersistenceClass">

        <activity android:name="com.shubhampandey.snaprecipes.DeveloperInfoActivity"></activity>
        <activity android:name="com.shubhampandey.snaprecipes.TabActivity" />
        <activity android:name="com.shubhampandey.snaprecipes.MainActivity" />
        <activity
            android:name="com.shubhampandey.snaprecipes.DisplayRecipeStepsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name="com.shubhampandey.snaprecipes.FilterDishActivity" />
        <activity android:name="com.shubhampandey.snaprecipes.RecipeListBySearchActivity" />
        <activity android:name="com.shubhampandey.snaprecipes.DisplayRecipeSourceActivity" />
        <activity
            android:name="com.shubhampandey.snaprecipes.RecipeDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name="com.shubhampandey.snaprecipes.RecipeListByCameraActivity" />
        <activity
            android:name="com.shubhampandey.snaprecipes.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>